{% extends 'base.html' %}

{% block content %}
<div class="home-container">
    <h2>Завантажені програми</h2>
    <div class="programs-list">
        {% for program in programs %}
        <div class="program">
            <img src="{{ program.image.url }}" alt="{{ program.title }}" class="program-image">
            <h3>{{ program.title }}</h3>
            <p>{{ program.description|truncatewords:20 }}</p>
            <a href="{% url 'program_detail' program.id %}" class="btn-detail">Детальніше</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
