{% extends 'base.html' %}

{% block content %}
<div class="rules-container">
    <h2>Правила сайту</h2>
    <div class="rules-content">
        <p>Тут можна розмістити текст правил вашого сайту. Наприклад:</p>
        <ul>
            <li>Правило 1: Опис правила 1.</li>
            <li>Правило 2: Опис правила 2.</li>
            <li>Правило 3: Опис правила 3.</li>
            <!-- Додайте інші правила тут -->
        </ul>
        <p>Додаткові рекомендації та інформація...</p>
    </div>
</div>
{% endblock %}
